
/**/
/**/
/* Defult Style for Page */
/**/
/**/
h1[b-g5w8lv9cgc] ,h2[b-g5w8lv9cgc], h3[b-g5w8lv9cgc],h4[b-g5w8lv9cgc],h5[b-g5w8lv9cgc], h6[b-g5w8lv9cgc],p[b-g5w8lv9cgc]{
  margin: 0 ;
  font-family: 'Inter';
  color: #4B4A4A;
}
section[b-g5w8lv9cgc]{
  padding:2rem 4rem ;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.overflow[b-g5w8lv9cgc] {
  position: relative;
  overflow: hidden;
  width: 100%;
}


/*
.clickible{
  cursor: pointer;
  transform: translateY(0px);
  transition: transform 0.5s ease   ;
}
.clickible:hover{
  transform: translateY(-10px);
}
.clickible:hover .title{
  color: #DD2020 !important;
}
.clickible.title:hover {
  color: #DD2020 !important;
}
  */
.scroll-container[b-g5w8lv9cgc] {
  max-width: 100% !important;
  overflow: visible; /* Ensure sticky behavior is not blocked */
}
.grid-item[b-g5w8lv9cgc] {
  grid-area: stack; /* Place both items in the same grid area */
}


/**/
/**/
/* Home_Enter Section Style */
/**/
/**/
.Div_Bg_1[b-g5w8lv9cgc]{
  max-width: 100% !important;
  width: 100% !important;
  background-color: #2D2D2D !important;
}
.Div_Bg_2[b-g5w8lv9cgc]{
  width: 100vw !important;
  background-color: inherit !important;
}
#Home_Enter[b-g5w8lv9cgc]{
  display: flex;
  height: 600vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: inherit;
  flex-flow: column;
  overflow: visible;
}

#Home_Enter .Hero_Container[b-g5w8lv9cgc]{
  max-height: 150vh;
  max-width: 100%;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
  height: 100vh;
  width: 100vw;
  ;
}
#Home_Enter .Hero_Container.sticky-Hero_wrap[b-g5w8lv9cgc]{
  max-width: 100% !important;
  height: 150vh;  
  overflow: visible;
}
#Home_Enter .Hero_Container.sticky-Hero_wrap .sticky-Hero[b-g5w8lv9cgc]{
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  top: 0px;
  width: 100%;
  height: 100vh;
  padding-top: 0em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  align-content: center;
}
#Home_Enter .Hero_Container .Container[b-g5w8lv9cgc]{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  padding: 2em  !important;
  margin: 0 !important;
  height: 100%;
  width: 100%;
 
}

#Home_Enter .Hero_Container .Container div.col-2[b-g5w8lv9cgc]{
  display: flex;
  max-height: 100%;
  max-width: 40%;
  margin: 0 !important;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#Home_Enter .Hero_Container .h1-Container[b-g5w8lv9cgc]{
  width: fit-content !important;
  min-width: fit-content;
  font-family: 'Inter';
  font-size: xx-large;
}
#Home_Enter .Hero_Container .h1-Container h1.Hero_h1[b-g5w8lv9cgc]{
  color: #FFFFFF !important;
}
#Home_Enter .Hero_Container .h1-Container .Hero_Link[b-g5w8lv9cgc]{
  color: #E91F1F;
  text-decoration: underline;
  font-size: large;
}


#Home_Enter .Hero_Container .Hero_Img[b-g5w8lv9cgc]{
  width: 100%;
  height: auto;
  object-fit: fill;
}

#Home_Enter .Hero_Container .Hero_Img_sm[b-g5w8lv9cgc]{
  max-width: 100%;
  max-height: 100%;
  width: fit-content !important;
  height: auto;
  object-fit: contain;
}

#Home_Enter .TempSpace_div[b-g5w8lv9cgc]{
  position: relative;
  max-width: 100% !important;
  width: 100vw !important;
  height: 150vh;
  overflow: hidden;
  justify-items: center;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  padding-top: 8.78em;
  padding-bottom: 8.78em;
  text-align: center;
}

#Home_Enter .TempSpace_div .header_text-wrap[b-g5w8lv9cgc] {
  position: relative;
  overflow: hidden;
}

#Home_Enter .TempSpace_div h1[b-g5w8lv9cgc]{
  font-family: 'Kantumruy', sans-serif;
  font-size: 6em;
  color: #FFFFFF;
}
#Home_Enter .TempSpace_div h1.is--alt-text[b-g5w8lv9cgc] {
  font-family: 'Monotype helvetica now display lt it', sans-serif;
  font-weight: 400;
}

#Home_Enter .sticky-circle_wrap[b-g5w8lv9cgc] {
  max-width: 100% !important;

    height: 300vh;  
  overflow: visible;
}

#Home_Enter .sticky-circle_wrap .sticky-circle[b-g5w8lv9cgc] {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  top: 0px;
  width: 100%;
  height: 100vh;
  padding-top: 0em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#Home_Enter .sticky-circle_wrap .sticky-circle .sticky-circle_element[b-g5w8lv9cgc] {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 35em;
  height: 35em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 35em;
  max-width: 100% !important;
}


#Home_Enter .sticky-circle_wrap .sticky-circle .sticky-circle_element .sticky-circle_img[b-g5w8lv9cgc] {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100% !important;
  min-height: 100vh;
  min-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/**/
/**/
/* About Section Style */
/**/
/**/
#About[b-g5w8lv9cgc] {
  margin-bottom: 4rem !important;
  margin-top: 3rem !important;
  background-color: #ECECEC !important;
  
}
#About .about_text_box[b-g5w8lv9cgc]{
  justify-items: center;
  margin-bottom: 5rem !important;
  margin-top: 3rem !important;
  color: #4B4A4A;

}

#About .about_box_Atico[b-g5w8lv9cgc]{
  max-width: 67%;
  text-align: justify;
  flex-wrap: wrap;
}
#About .about_box_Atico span[b-g5w8lv9cgc]{
  width: 100%;
}
#About .about_box_Atico a[b-g5w8lv9cgc]{
  text-decoration: underline;
  font-size: large;
  text-align: start;
  width: 100%;
  color: #8C8A8A;
  margin-top: 2rem;
}

#About .sticky-About_wrap[b-g5w8lv9cgc] {
  max-width: 100% !important;
  height: 400vh;  
  overflow: visible;
}

#About .sticky-About_wrap .sticky-About[b-g5w8lv9cgc] {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  top: 0px;
  width: 100%;
  height: 100vh;
  padding-top: 0em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#About .sticky-About_wrap .sticky-About .sticky-About_element[b-g5w8lv9cgc] {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 45vw;
  height: 45vh;  
  max-width: 70vw;
  max-height: 60vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3.5em;
}


#About .sticky-About_wrap .sticky-About .sticky-About_element .sticky-About_img[b-g5w8lv9cgc] {
  position: relative;
  max-width: 100% !important;
  max-height: 100%;
  min-width: 100%;
  width: fit-content;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

#About .sticky-About_wrap .sticky-About h1[b-g5w8lv9cgc] {
  font-family: 'Inter';
  font-size: 1.2em;
  color: #4B4A4A;
  font-weight: normal;
  transition: color 0.3s ease, font-weight 0.3s ease;
  margin: 2em;
}
#About .sticky-About_wrap .sticky-About h1.Foucsed[b-g5w8lv9cgc] {
  color: #E91F1F;
  font-weight: bold;
}

#About .about_box[b-g5w8lv9cgc]{
  display: flex; 
  
}
#About .about_box span h2[b-g5w8lv9cgc]{
  color: #EF1C23;
  font-style: bold;
  display: inline-block !important;
}
#About .about_box span p[b-g5w8lv9cgc]{
  display: inline-block !important;
}

#About .about_box img[b-g5w8lv9cgc]{
  max-width: 2.75rem;
  max-height: 2.75rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

/**/
/**/
/* Services Section Styles */
/**/
/**/
#Our_Services[b-g5w8lv9cgc] {
  margin-bottom: 4rem !important;
  margin-top: 3rem !important;
  overflow: hidden;
  background-color: #ECECEC !important;

} 

#Our_Services .service_box[b-g5w8lv9cgc]{
  max-width: 55% !important;
  max-height: 70vh !important;
  height: 65vh !important;
  margin-right: 10% !important;
  background-color: #DFDFDF;
  font-size: smaller !important;
  border-radius: 20px;

}

#Our_Services .service_box .services_text_box[b-g5w8lv9cgc]{
  text-align: start !important;
  display: grid;
  height: 100%;
  align-content: space-between;
  align-items: initial;
  padding: 1rem !important;
  max-width: 39.6%;  
}

#Our_Services .service_box .services_text_box h4[b-g5w8lv9cgc],#Our_Services  .service_box .services_text_box a[b-g5w8lv9cgc]{
  font-family: 'Inter';
  font-size: 2rem;
  font-weight: 1000;
  margin-bottom: 2rem !important;
}
#Our_Services .service_box .services_text_box p[b-g5w8lv9cgc]{
  font-family: 'Inter';
  font-size: 1.6rem !important;
}
#Our_Services .Out_From_Right[b-g5w8lv9cgc]{
  display: flex;
  position: relative;
  flex-direction: row;
  place-items: center;
  grid-template-areas: "stack";
  overflow: hidden;
  height: 100% !important;
  margin-right: -15% !important;
  width: 100% !important;
  background-color: #464545;
  padding: 0 !important;
  border-radius: 20px;
}
#Our_Services .Out_From_Right .background-item[b-g5w8lv9cgc]{
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  display: block;
}
#Our_Services .Out_From_Right .background-item img[b-g5w8lv9cgc]{
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(50%); /* Darken background for contrast */
}
#Our_Services .Out_From_Right .text-item[b-g5w8lv9cgc] {
  justify-self: flex-start;
  padding-left : 2rem !important;
  text-align: justify;
  align-items: center;
  color: #fff;
  z-index: 1; /* Make sure it’s on top */
}
#Our_Services .Out_From_Right  h3[b-g5w8lv9cgc]{
  text-align: justify;
  text-align-last: start ;
  font-size: large  !important;
  margin-bottom: 2rem !important;
  border-left: solid 0.5rem;
  padding: 1rem;
  border-color: #EF1C23 ;
  color: #FFFFFF;
}

#Our_Services .Out_From_Right .button-item[b-g5w8lv9cgc] {
  width: fit-content;
  justify-self: center;
  align-self: center;
  justify-content: space-between;
  margin: 0.5rem !important;
  gap: 2rem !important;
  padding: 0;
  color: #fff;
  z-index: 1;
}
#Our_Services .Out_From_Right .button-item *[b-g5w8lv9cgc]{
  padding: 0;
  margin: 0;
}
#Our_Services .Out_From_Right .button-item a[b-g5w8lv9cgc]{
  border-radius: 50% !important;
}
#Our_Services .Out_From_Right .button-item a:hover[b-g5w8lv9cgc]{
  background-color:#000 !important;
  cursor:pointer  ;
}
#Our_Services .Out_From_Right .button-item img[b-g5w8lv9cgc]{
  max-width: 35px !important;
  max-height: 35px !important;
  object-fit:cover;
}
/**/
/**/
/* Products Slider_Section  Styles */
/**/
/**/
.splide__slide[b-g5w8lv9cgc]{
  min-height: none !important;
  height: fit-content !important;
}

/* Partners Section Style*/
#Our_Partners[b-g5w8lv9cgc]{
  display: flex;
  align-content: center;
  justify-content: center;
  
  padding-top: 15vh;
  padding-bottom: 15vh;
}
#Our_Partners .Partners_Container[b-g5w8lv9cgc]{
  width: fit-content;
  height: fit-content;
  justify-content: start;
  margin: 2rem 0px;
}
#Our_Partners .Partners_Container .Partners-Box[b-g5w8lv9cgc]{
  background-color: #D2D2D2 !important;
  border-radius: 20px;
}

#Our_Partners .Section_title[b-g5w8lv9cgc]{
  margin-left: 3rem;
  text-align: left;
  margin-bottom: 1.5rem;
  font-size: x-large;
}

/**/
/**/
/* News Section Style*/
/**/
/**/
#News_Section[b-g5w8lv9cgc] {

  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
#News_Section  .News_Container[b-g5w8lv9cgc]{
  width: fit-content;
  height: fit-content;
  justify-content: start;
  margin: 2rem 0px;
}
#News_Section a.More[b-g5w8lv9cgc]{
  text-decoration: underline;
  font-size: large;
  text-align: center;
  width: 100%;
  color: #AAAAAA;
  margin-top: 2rem;
  width: 100%;
}



/* Media Queries */
@media (max-width: 768px) {
    .products-section h2[b-g5w8lv9cgc] {
        font-size: 24px;
    }
    .product-carousel img[b-g5w8lv9cgc] {
        max-height: 200px;
    }
}
@media (min-width : 920px) and (max-width : 1500px) {
  html[b-g5w8lv9cgc] , body[b-g5w8lv9cgc] {
    font-size: 16px;
  }
}
@media (min-width : 620px) and (max-width : 919px) {
  html[b-g5w8lv9cgc] , body[b-g5w8lv9cgc] {
    font-size: 14px;
  }
  .div_About[b-g5w8lv9cgc]{
    max-height: fit-content;
  }
}
@media (min-width : 450px) and (max-width : 619px) {
  html[b-g5w8lv9cgc] , body[b-g5w8lv9cgc] {
    font-size: 12px;
  }
  .div_About[b-g5w8lv9cgc]{
    max-height: fit-content;
  }
  #About_us .div_About:nth-child(2)[b-g5w8lv9cgc]{
    max-width: 100% !important;
  
  }
}
@media (min-width : 100px) and (max-width : 440px) {
  html[b-g5w8lv9cgc] , body[b-g5w8lv9cgc] {
    font-size: 10px;
  }
  #About_us[b-g5w8lv9cgc]{
    justify-content: center;
  }
  .div_About[b-g5w8lv9cgc]{
    max-height: fit-content;
  }
  #About_us .div_About:nth-child(2)[b-g5w8lv9cgc]{
    max-width: 100% !important;
  }
  
}
