@inherits LayoutComponentBase


<div class="page">
    

    <header class="top-bar">
        <NavMenu />
    </header>

    <main>
        <article class="content overflow px-4">
            @Body
        </article>
    </main>
    <footer class="bottom-bar align-content-center justify-content-center">
        <div class="Container justify-content-center">
            <img src="logo-02[1].png" class="img-fluid">
        </div>
         <div class="Container-link w-100">
            <a href="/" class="f-link"> Home </a>
            <a href="/About_Us" class="f-link"> About </a>
            <a href="/Services" class="f-link"> Services </a>
            <a href="/Products" class="f-link"> Products </a>
            <a href="/Projects" class="f-link"> Projects </a>
            <a href="/News" class="f-link"> News </a>
            <a href="/Contact_Us" class="f-link"> Contact Us </a>
            
        </div>
    </footer>
</div>

<!--
<script src="site.js"></script>
-->
